.LandingPage{
    background-image:linear-gradient(to bottom,rgba(0,0,0,0)60%,rgba(0,0,0,2)),linear-gradient(to top,rgba(0,0,0,0)90%,rgba(0,0,0,4)), url(../bg.jpg);
    height:27em;
    }
@media (max-width: 768px) {
.LandingPage{
    width:50%;
    height:40%;
}
    }
      