
.btn-lg{
color:white;
font-size: 15px;
display: flex;
padding: 8px 21px;
background-color: #DC143C;
float:right;
margin-right:6em;
margin-top:-4.8em;
border-radius: 6px;
}
p{
line-height: 1.2 em;
font-size:23px;
}
.container {
  position: relative;
  display: inline-block;
}
.button {
  padding: 0;
  width: 50px;
  border: 0;
  text-align: center;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  outline: 0;
  font-size: 40px;
}
.Hidden{
  visibility: hidden;
}
