.App{
background-image: url(./bg.jpg);
height:25.5em;
}
.btn-lg{
color:white;
font-size: 15px;
display: flex;
padding: 8px 21px;
background-color: #DC143C;
float:right;
margin-right:6em;
margin-top:-4.8em;
border-radius: 6px;
}
p,p1 {
line-height: 0.2em;
font-size:24px;
}
.container {
  position: relative;
  display: inline-block;
}
.button {
  padding: 0;
  width: 50px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
}
