body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color:white;
  font-size: 26px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#intro-text{
  font-weight: bolder;
  letter-spacing: 0.4px;
}
#intro-paragraph{
  font-weight:50;
  font-size:21px;
}
::placeholder{
  padding-left: 12px;
  color:rgb(211,211,211)
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
}
.accordion{
  --bs-accordion-bg: #3A3B3C;
  width: 90%;
  margin:1.3em;
}
.accordion-button {
  color: white; 
  margin: 12px auto;
}