*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color:white;
  font-size: 26px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#intro-text{
  font-weight: bolder;
  letter-spacing: 0.4px;
}
::placeholder{
  padding-left: 12px;
  color:rgb(211,211,211)
}

@media only screen and (max-width: 768px){
  body{
    width:min-content;
  }
}


